# Git & GitHub tutorial
![Meme](https://img.devrant.com/devrant/rant/r_811491_uTXmv.jpg)

## Resources to learn Git
1. [Git Handbook](https://guides.github.com/introduction/git-handbook/) Git, GitHub, DVCS, oh my! Learn all the lingo and the basics of Git.
2. [Learn Git branching](https://learngitbranching.js.org/) Try Git commands right from your web browser. Featuring some of your soon-to-be favorites: branch, add, commit, merge, revert, cherry-pick, rebase!
3. [Link](https://training.github.com/downloads/github-git-cheat-sheet.pdf) Keep these handy! Reference sheets covering Git commands, features, SVN migrations, and bash. Available in a multiple languages.

## List of Students

<ul>
{{#students}}
<li>{{name}} <b>({{id}})</b></li>
{{/students}}
</ul>
{{^students}}**No Students :(**{{/students}}